@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.not-found {
  align-content: stretch;
  align-items: center;
  background-image: url('./service_attic.png');
  background-size: cover;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Russo One', sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  height: 80vh;
  justify-content: space-evenly;
  -webkit-text-stroke: 1px rgb(77, 192, 0);
}