@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.info {
  align-content: center;
  color: rgb(0, 0, 0);
  font-family: 'Russo One', sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  max-height: 30%;
  max-width: 80%;
  -webkit-text-stroke: 1px rgb(77,
    192,
    0);
}

h3 {
  margin: 5px;
}
