@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.info {
  align-content: stretch;
  align-items: flex-start;
  color: rgb(143, 79, 46);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Russo One', sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  justify-content: space-evenly;
  max-height: 30%;
  max-width: 80%;
  -webkit-text-stroke: 1px rgb(77, 192, 0);
}

h3, h2 {
  margin-top: 19px;
  margin-bottom: 7px;
}

.return-button {
  background-color: #564d4d;;
  border: 1px solid transparent;
  border-radius: 500px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 2px;
  line-height: 1;
  margin-left: 435px; 
  margin-bottom: 7vh;
  min-width: 160px;
  outline: none;
  padding: 17px 48px;
  text-align: center;
  text-transform: uppercase;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  white-space: normal;
}

 .return-button:hover {
  background-color: #817d7d;;
  transform: scale(1.04);
  }

.movie-info {
  color: rgb(80, 66, 66);
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  font-style: normal;
  margin: 5px;
  opacity: 80%;
}

div {
  font-size: .95em;
}

.movie-photo {
  height: 50vh;
  margin-left: 26vw;
  margin-bottom: 3vh;
  margin-top: -36vh;
  width: 45vw;
}

.title-header {
  margin-top:7vh;
}