  .movie-tile{
    border: 5px solid grey;
    width: 12vw;
    height: 32vh;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 10%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    box-shadow: 10px 5px 5px rgb(190, 113, 113);

}



.movie-tile:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(-20px);
  }
}


.tile-img{
  width:100%;
  height:100%;
  border: 2px solid grey;
  cursor: pointer;
}