.single-view {
  align-items: center;
  background-image: url("https://as2.ftcdn.net/v2/jpg/02/97/55/51/1000_F_297555159_oBIxZgwuZeEPZ2BbQZdYaAdZEYF8BVdq.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100%;
  contain: content;
  display: flex;
  height: 77vh;
  justify-content: center;
  width: 102vw;
}