.single-view {
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100%;
  contain: content;
  display: flex;
  width: 102vw;
  height: 77vh;
  justify-content: center;
  align-items: center;
}

html {
  background-color: #564d4d;
}