
.movie-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  display: flex;
  flex-direction: row;
  height: 55%;
  justify-content: center;
  margin: 4px, 4px;
  max-height: 60%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4px;
  width: 90%;
}
